/*==============================
    Variables
==============================*/
:root {
    --background-color: #f4f4f4;
    --text-color: #222222;
    --card-color: #ffffff;
    --accent-color: #333333;
}

/*==============================
    Page Behavior
==============================*/
html {
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 80px;
}
/*==============================
    General
==============================*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
h1 { 
    font-size: 40px;
}
p {
    line-height: 1.6;
}

/*==============================
    Theme
==============================*/
.dark-mode {
    background-color: #222222;
    color: white;
}
.dark-mode .section {
    background-color: #333333;
}

/*==============================
    Highlight
==============================*/
.highlight {
    color: blue;
}

/*==============================
    Header
==============================*/
header {
    text-align: center;
    padding: 40px;
}

/*==============================
    Hero Section
==============================*/
.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
}
.hero-content img {
    width: 180px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.hero-intro {
    margin: 0;
    font-size: 18px;
}
.hero-title {
    font-size: 24px;
    margin: 10px;
}
.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}
.hero-buttons a {
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: white;
}
nav {
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--card-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*==============================
    Section
==============================*/
.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.section {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
}

/*==============================
    Skills
==============================*/
.skills-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*==============================
    Project
==============================*/
#projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.project-card {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}
.project-card ul{
    display: felx;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    list-style: none;
}
.project-card li{
    background-color: #eeeeee;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

/*==============================
    Contacts
==============================*/
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font:inherit;
}
textarea{
    min-height: 150px;
    resize: vertical;
}
#formMessage {
    margin-top: 10px;
    font-weight: bold;
}
.success {
    color: green;
}
.error {
    color: red;
}

/*==============================
    Back to Top
==============================*/
.back-to-top {
    position:fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
}

/*==============================
    Responsive
==============================*/
@media (max-width: 600px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }
    .hero-buttons {
        flex-direction: column;
    }
    #projectContainer {
        grid-template-columns: 1fr;
    }
    nav {
        flex-direction: column;
    }
    .section{
        padding: 20px;
    }
    h1{
        font-size: 30px;
    }
    .skills-list{
        flex-direction: column;
    }
}
@media (max-width: 800px){
    #projectContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}